/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Custom reset  */

*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
video {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  border-radius: 0;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

b,
strong {
  font-weight: 700;
}

em,
i {
  font-style: italic;
}

input,
button {
  font: inherit;
}

.modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 20;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.3s ease-out;
}
.modal__wrapper {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
  height: var(--window-height);
}
.modal__inner {
  position: relative;
  overflow: auto;
  margin: auto;
  border-radius: 10px;
  background: #fcfcfc;
  padding: 40px 26px 30px;
  width: 100%;
  max-width: 440px;
}
.modal__close {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 10px;
  top: 16px;
  outline: transparent;
  border: none;
  box-shadow: none;
  background: url("../img/close-icon.svg") center no-repeat;
  cursor: pointer;
}
.modal__title {
  color: #222;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.72px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.modal__text {
  color: #8f8f8f;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  letter-spacing: -0.48px;
	margin-bottom: 20px;
}

.modal__btn {
	margin-top: 20px;
}

.modal[aria-hidden="true"] {
  display: none;
}
.modal[aria-hidden="false"] {
  display: block;
}
.modal.is-open {
  opacity: 1;
}
